@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

html,
body,
#root,
:root {
  background-color: rgb(238, 242, 246);
}
.app {
  height: 100%;
  width: 100%;
  font-family: "Inter", sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(255, 255, 255) s;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(54, 65, 82);
}

/* Handle on Hover */
::-webkit-scrollbar-track:hover {
  opacity: 0.75;
}
