:root {
    --main-background-color: rgb(13, 17, 23);
    --main-text-color: white;
    --main-border-color: #ccc;
    --secondary-background-color: rgb(22, 27, 34);
    --box-shadow: 0px 0px 3px #404040;
    --bg:  #242526;
    --bg-accent: #484a4d;
    --text-color: #dadce1;
    --nav-size: 60px;
    --border: 1px solid #474a4d;
    --border-radius: 8px;
    --speed: 500ms; 
   
    
}

body {
    margin: 0;
    display: grid;
    justify-items: center;
    
}

h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.App {
    display: grid;
    grid-template-columns: 170px auto;
    width: 100vw;
    background-color: var(--main-background-color);
    color: var(--main-text-color);
    background-size: cover;
    height: 100%;
    min-height: 100vh;
}

.container-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-row.top {
    align-items: normal;
    flex-wrap: wrap;
    gap: 15px;
}

.container-column.gap {
    gap: 10px;
}

.container-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

.container-row.gap {
    gap: 10px;
}

.container-background {
    gap: 10px;
    text-align: left;  
    border-radius: 15px;
    padding: 10px;
    background-color:var(--secondary-background-color);
    border: 1px solid var(--main-border-color);
    margin-top: 15px;
    margin-bottom: 15px;
}

.container-background.sized {
    width: 200px;
    height: 160px;
}

.align-left {
    text-align: left;

}

.align-right {
    text-align: right;

}

input, select{
    border: 2px solid rgb(255, 255, 255);
    padding: 5px;
    border-radius: 5px;
    color: black;
    margin-top: 3px;
  }


.buttons {
    background-color: var(--secondary-background-color);
    border: 1px solid #ccc;
    color: white;
    border-radius: 5px;
    padding: 5px;
    width: 55px;
    text-align: center;
    cursor:pointer;
}

.buttons.dark{
    background-color:var(--main-background-color);
}

.buttons:hover {
    background-color: rgb(102, 102, 102);
}

.buttons:hover a{
    color: white;
    text-decoration: none;
}

.buttons.dark:hover {
    background-color:var(--main-background-color);
    background-color: rgb(102, 102, 102);
    color: white;
    text-decoration: none;
    font-weight: normal;
    cursor: pointer;
}

.buttons.dark:hover a{
    color: white;
    text-decoration: none;
}

a:hover {
    color: rgb(102, 102, 102);
    /* font-weight: bolder; */
    text-decoration: underline;
    cursor:pointer;
 }

 a { 
    color: inherit;
    text-decoration:none; 
    
 } 

/* Nav */

.nav {
    padding-left: 15px;
    background-color:var(--secondary-background-color);
}

.nav-container {
    display: grid;
    align-items: center;
    grid-template-rows: 24px auto;
    gap: 5px;
    margin-top: 5px;
    margin-bottom: 7px;

}

 .nav a {
    margin-left: 10px;
 }

/* Work order list */
 .work-order-list-container {
    display: flex;
    margin-top: 15px;
    flex-direction: column;
    gap: 10px;
    align-items: center;
 }


.work-order-container fieldset  {
    display: grid;
    grid-template-columns: 140px 150px 200px 170px 70px;
    align-items: center;
    height: 50px;
    padding-top: 0px;
    align-self: center;
    text-align: center;
}

.work-order-container p  {
    margin-top: 0;
    margin-bottom: 0;
}

 .work-order-container a {
    text-decoration: underline;
 }


/* Work Order Detail */

.work-order-detail-container {
    display: flex;
    margin-top: 15px;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.work-order-detail-container a:hover {
    background-color: rgb(102, 102, 102);
    color: white;
    text-decoration: none;
    font-weight: normal;
 }

.work-order-detail-info-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 15px;
}

.work-order-detail-info{
    gap: 10px;
    text-align: left;  
    border-radius: 15px;
    padding: 5px;
    min-height: 150px;
    width: 240px;
    display: flex;
    background-color:var(--secondary-background-color);
    border: 1px solid var(--main-border-color);
    justify-content: center;
}

.work-order-detail-info p {
    margin: 9px;
}

.work-order-detail-info legend {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #DDD;
    border-radius: 5px;
    padding: 3px;
    background-color:var(--main-background-color);
}

.work-order-detail-info.customer{
    text-align: center;
    gap: 0;
    flex-direction: column;
}

.work-order-detail-name {
    text-align: right;
    display: flex;
    flex-direction: column;
    gap: 0px;
}
.work-order-detail-value {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.work-order-detail-title {
    display: flex;
    align-items: center;
    gap: 15px;
}

.work-order-detail-button-container{
    display: flex;
    gap: 15px;
}

 /* Customer list */
.customer-list-container {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(180px, 200px));
    gap: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
}

.customer-container fieldset {
    height:160px
}

/* Vendor list */

.vendor-list-container {
    display: flex;
    margin-top: 15px;
    flex-direction: column;
    gap: 10px;
    align-items: center;
 }

 .vendor-container {
    display: grid;
    grid-template-columns: 200px 150px 150px 250px;
    align-items: center;
    height: 50px;
    padding-top: 0px;
    border: 1px solid #ccc;
    padding-left: 10px;
 }

 .vendor-container a {
    font-weight: bolder;
    text-decoration: underline;
 }

 /* Parts list */

 .parts-list-container {
    display: flex;
    margin-top: 15px;
    flex-direction: column;
    gap: 10px;
    align-items: center;
 }

 .parts-container-title {
    display: grid;
    grid-template-columns: 300px 100px 100px 150px 100px 200px;
    align-items: center;
    height: 50px;
    margin-top: 5px;
    border-radius: 16px;
    width: auto;
    padding-left: 15px;
    text-align: center;
    font-weight: bold;
 }

 .parts-container {
    display: grid;
    grid-template-columns: 300px 100px 100px 150px 100px 200px;
    align-items: center;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 16px;
    width: auto;
    padding-left: 15px;
    text-align: center;
 }

 .parts-container p{
    margin-top: 0px;
    margin-bottom: 0px;
 }

 .parts-container a {
    text-decoration: underline;
 }

  /* Labor list */

.labor-list-container {
    display: flex;
    margin-top: 15px;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.labor-container {
    border-radius: 16px;
    width: auto;
    padding-left: 15px;
    border: 1px solid #ccc;
    align-items: center;
    padding-top: 10px;
    width: 200px;
}

.labor-container p {
    margin-bottom: 10px;
}

/* Job Type List */

.job-list-container {
    display: flex;
    margin-top: 15px;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.job-container {
    border: 1px solid #ccc;
    border-radius: 16px;
    padding: 5px;
    padding-left: 15px;
    font-weight: bolder;
    width: 150px;
}


/* Vendor Detail */

/* Parts Detail */

/* Job Type Detail */

/* New Work Order Form */

.dropdown {
    position: relative;
    top: 10px;
    width: 300px;
    text-align: center;
    background-color: var(--bg);
    border: var(--border);
    border-radius: var(--border-radius);
    padding: .5rem;
    height: 20px;
    margin-top: .2rem;
    margin-bottom: .2rem;
    
  }

.dropdown-item {
    margin-top: 5px;
    margin-bottom: 5px;
    grid-template-columns: 1fr 20px;
    display: grid;
    text-align: center;
    position: relative;
    top: -32px;
    transform: translateX(110%);
    background-color: var(--bg);
    border: var(--border);
    border-radius: var(--border-radius);
    
 }


.icon-add {
    justify-self: end;
    display: flex;
    align-items: center;
    padding-right: 5px;
    
}

.icon-add svg{
    height: 20px;
    width: 20px;
}
/* New Customer Form */



@media screen and (max-width:750px){
    .App {
        grid-template-columns: 150px 1fr;
    }

    .nav{
        padding-right: 5px;
    }
    
    .work-order-list-container {
        display: grid;
        gap: 15px;
        margin-top: 15px;
        width:100%;
     }

     .work-order-container fieldset  {
        display: grid;
        gap: 10px;
        align-items: center;
        grid-template-columns: none;
        margin-right: 15px;
        height: auto;
    }


 }
